@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF5EC;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFF5EC;
}

/* hamberger */
.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #F4D548;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.open {
    height: auto !important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #FFF5EC;
}

.logo-sub {
    display: none;

}

/* end ham */

.nav-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
    height: auto;
    width: auto;
}

.menu {
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

.grid-menu-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.grid-menu-nav li {
    list-style: none;
}

.grid-menu-nav li .li-1,
.grid-menu-nav li .li-2,
.grid-menu-nav li .li-3 {
    text-decoration: none;
    font-family: "Poppins";
    color: black;
    font-size: 22px;
    font-weight: 500;
    background-color: #F4D548;
    border-radius: 18px;
    background-size: 224px 80px;
    transition: .3s ease-in-out;
    padding: 12px 23px;

}

.grid-menu-nav li .li-1:hover,
.grid-menu-nav li .li-2:hover,
.grid-menu-nav li .li-3:hover {
    color: #FFF5EC;
    padding: 12px 23px;

}



.grid-menu-nav li .li-4 {
    text-decoration: none;
    font-family: "Poppins";
    color: black;
    font-size: 22px;
    font-weight: 500;
    background-color: #F4D548;
    border-radius: 18px;
    background-size: 224px 80px;
    transition: .3s ease-in-out;
    padding: 12px 34px;
}

.grid-menu-nav li .li-4:hover {
    color: #FFF5EC;
    padding: 12px 34px;
}

.logo-text,
.logo-sub {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 800;
    margin-left: 94px;
    color: #FF8787;
    margin-top: 1px;
}

.logo-img {
    width: 114px;
    height: 101.54px;
    margin-top: 21px;
    margin-left: 115px;
}

.grid-home-body {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'a b'
        'c b';
    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
}

.text-body {
    grid-area: a;
}

.tb-title {
    font-family: "Josefin Sans";
    font-size: 96px;
    color: #FF8787;
    margin-top: 19px;
    margin-left: 84px;
    margin-bottom: 0;
}

.tb-p {
    display: inline-block;
    font-family: "Anuphan";
    font-size: 32px;
    font-weight: 400;
    margin-top: 1px;
    margin-bottom: 15px;
    margin-left: 97px;

}

.img-body {
    grid-area: b;
}

.food-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-home {
    /* margin-left: -177px; */
    margin-top: 4px;
    height: 467px;
    width: 562px;
}

.button-body {
    grid-area: c;
}

.bb-a {
    display: inline-block;
    text-decoration: none;
    font-family: "Poppins";
    color: black;
    font-size: 22px;
    font-weight: 500;
    background-color: #F4D548;
    border-radius: 18px;
    background-size: 224px 80px;
    transition: .3s ease-in-out;
    padding: 12px 23px;
    margin-left: 8px;
    margin-top: 15px;
}

.bb-a:hover {
    color: #FFF5EC;
    padding: 12px 23px;
}

.grid-menu-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 28px;
    padding-bottom: 11px;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 59px;

}

.menu1,.menu2,
.menu3,.menu4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #A5DD9B;
    border-radius: 20px;
    width: 567px;
}

.menu1-name,
.menu2-name,
.menu3-name,
.menu4-name {
    background-color: #FF8787;
    border-radius: 30px;
    width: 212px;
    height: 159px;
    z-index: 1;
    text-align: center;
}

.menu1-name span {
    display: inline-block;
    font-family: "Anuphan";
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.menu1-name a,
.menu2-name a,
.menu3-name a,
.menu4-name a {
    display: inline-block;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #F4D548;
    border-radius: 18px;
    background-size: 224px 80px;
    transition: .3s ease-in-out;
    padding: 12px 23px;
    margin-top: 19px;

}

.menu1-name a:hover,
.menu2-name a:hover,
.menu3-name a:hover,
.menu4-name a:hover {
    color: #FFF5EC;
    padding: 12px 23px;
}

.menu2-name p,
.menu3-name p,
.menu4-name p {
    display: ruby-text;
    font-family: "Anuphan";
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0px;
}

.menu3-img {
    width: 250px;
}


/* how to */

.grid-ht {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 555px 363px 308px 470px;
    grid-row-gap: 22px;
    width: 100%;
    padding-bottom: 3px;
}

.title-menu2 {
    display: inline-block;
    text-align: center;
    font-family: "Anuphan";
    font-size: 32px;

    font-weight: 400;
    background-color: #A5DD9B;
    border-radius: 16px;
    width: 191px;
    height: 46px;
    margin-top: 10px;
    padding: 4px;
}

.ht-menu1,
.ht-menu2,
.ht-menu3,
.ht-menu4 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #FF8787;
    border-radius: 25px;

}

.ht-menu1>div,
.ht-menu2>div,
.ht-menu3>div,
.ht-menu4>div {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
}

.ht-menu1-1,
.ht-menu2-1,
.ht-menu3-1,
.ht-menu4-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: "Anuphan";
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;

}

.title-menu1,
.title-menu3,
.title-menu4 {
    display: inline-block;
    text-align: center;
    font-family: "Anuphan";
    font-size: 32px;
    font-weight: 400;
    background-color: #A5DD9B;
    border-radius: 16px;
    width: 151px;
    height: 46px;
    margin-top: 10px;
    padding: 4px;
}

.img-menu1,
.img-menu2,
.img-menu3,
.img-menu4 {
    margin-top: auto;
    margin-bottom: auto
}

.ingred-mn1,
.ingred-mn2,
.ingred-mn3,
.ingred-mn4 {
    padding: 10px;
}

.ingred-mn1 span,
.ingred-mn2 span,
.ingred-mn3 span,
.ingred-mn4 span {
    display: inline-block;
    text-align: center;
    font-family: "Anuphan";
    font-size: 32px;
    font-weight: 400;
    background-color: #F4D548;
    border-radius: 16px;
    width: 151px;
    margin-left: 141.165px;
}

.ingred-mn1 li,
.ingred-mn2 li,
.ingred-mn3 li,
.ingred-mn4 li {
    font-family: "Anuphan";
    font-size: 22px;
}

.meth-mn1,
.meth-mn2,
.meth-mn3,
.meth-mn4 {
    padding: 10px;
    border-style: none none none dashed;
    border-color: #F4D548;
}

.meth-mn1 span,
.meth-mn2 span,
.meth-mn3 span,
.meth-mn4 span {
    display: inline-block;
    text-align: center;
    font-family: "Anuphan";
    font-size: 32px;
    font-weight: 400;
    background-color: #F4D548;
    border-radius: 18px;
    width: 126px;
    margin-left: 153.665px;
}

.meth-mn1 li,
.meth-mn2 li,
.meth-mn3 li,
.meth-mn4 li {
    font-family: "Anuphan";
    font-size: 22px;
}

/* me */
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 13px;
}

.grid-me {
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    justify-items: center;
    background: #FF87;
    padding: 16px;
}

.txt-me-cont {
    font-family: "Josefin Sans";
    font-size: 50px;
    color: #FF8787;
    font-weight: 500;
    margin-top: 19px;
    margin-bottom: 0;
}

.me-cont {
    font-family: "Anuphan";
    font-size: 22px;
    color: #FF8787;
    border-radius: 20px;
    margin-bottom: 20px;
}

.me-cont-body {
    display: grid;
    gap: 10px;
}

.ig-me,
.fb-me,
.tel-me {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #A5DD9B;
    border-radius: 20px;
    font-family: "Anuphan";
    font-size: 22px;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.img-ig-me,
.img-fb-me,
.img-tel-me {
    margin-right: 10px;
}

/* phon down */
@media screen and (min-width: 667px) and (max-width: 720px) {
    .nav-grid {
        display: grid;
        grid-template-columns: 209px 1fr;
        gap: 20px;
        height: auto;
        width: auto;
    }

    .grid-menu-nav li .li-1,
    .grid-menu-nav li .li-2 {
        font-size: 18px;
        padding: 12px 18px;
    }

    .grid-menu-nav li .li-1:hover,
    .grid-menu-nav li .li-2:hover {
        padding: 12px 18px;
    }


    .grid-menu-nav li .li-4 {
        font-size: 18px;
        padding: 12px 34px;
    }

    .grid-menu-nav li .li-4:hover {
        padding: 12px 34px;
    }

    .grid-menu-nav li .li-3 {
        font-size: 18px;
        padding: 12px 11px;
    }

    .grid-menu-nav li .li-3:hover {
        color: #FFF5EC;
        padding: 12px 11px;

    }

    .logo-img {
        margin-top: -14px;
        margin-left: 38px;
    }

    .logo-text {
        color: #FF8787;
        margin-top: 1px;
        margin-bottom: 6px;
        margin-left: 23px;
    }



    .grid-home-body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }


    .tb-title {
        margin-top: 19px;
        margin-left: 39px;
        margin-bottom: 0;
        text-align: center;
    }

    .tb-p {
        margin-left: 58px;
        text-align: center;
    }

    .food-home {
        margin-top: 4px;
        height: auto;
        width: 80%;
    }

    .grid-menu-body {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        padding-bottom: 16px;

    }

    .grid-ht {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 753px 410px 410px 595px;
        grid-row-gap: 22px;
        width: 99%;
        padding-bottom: 9px;
        padding-left: 2px;
        padding-right: 2px;

    }

    .ht-menu1,
    .ht-menu2,
    .ht-menu3,
    .ht-menu4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        background-color: #FF8787;
        border-radius: 25px;
        width: 99%;
        margin-left: 4px;

    }

    .ht-menu1-1,
    .ht-menu2-1,
    .ht-menu3-1,
    .ht-menu4-1 {
        margin-bottom: 22px;
        width: auto;
        grid-gap: 7px;
    }

    .ingred-mn1,
    .meth-mn1,
    .ingred-mn2,
    .meth-mn2,
    .ingred-mn3,
    .meth-mn3,
    .ingred-mn4,
    .meth-mn4 {
        width: auto;
        margin-bottom: 22px;
        border: unset;
    }

    .img-menu1,
    .img-menu2,
    .img-menu3,
    .img-menu4 {
        width: auto;
        height: auto;
        justify-content: center;
        display: inline-grid;
        align-self: center;
        margin-top: 4rem;
    }

    .ingred-mn1 span,
    .meth-mn1 span,
    .ingred-mn2 span,
    .meth-mn2 span,
    .ingred-mn3 span,
    .meth-mn3 span,
    .ingred-mn4 span,
    .meth-mn4 span {
        display: block;

        text-align: center;
        margin-left: 0;
    }


    .ingred-mn1 li,
    .meth-mn1 li,
    .ingred-mn2 li,
    .meth-mn2 li,
    .ingred-mn3 li,
    .meth-mn3 li,
    .ingred-mn4 li,
    .meth-mn4 li {
        font-size: 20px;

    }

    .grid-me {
        grid-template-columns: 1f 1fr;
        margin: 0 5px;
        width: 100%;
        padding-bottom: 28px;
    }

    .me-img {
        width: 100%;
        height: auto;
    }
}


@media only screen and (max-width: 1024px) {
    .nav-grid {
        display: grid;
        grid-template-columns: 209px 1fr;
        gap: 20px;
        height: auto;
        width: auto;
    }

    .grid-menu-nav li .li-1,
    .grid-menu-nav li .li-2 {
        font-size: 18px;
        padding: 12px 18px;
    }

    .grid-menu-nav li .li-1:hover,
    .grid-menu-nav li .li-2:hover {
        padding: 12px 18px;
    }


    .grid-menu-nav li .li-4 {
        font-size: 18px;
        padding: 12px 34px;
    }

    .grid-menu-nav li .li-4:hover {
        padding: 12px 34px;
    }


    .grid-menu-nav li .li-3 {
        font-size: 18px;
        padding: 12px 11px;
    }

    .grid-menu-nav li .li-3:hover {
        color: #FFF5EC;
        padding: 12px 11px;

    }

    .logo-img {
        margin-top: -14px;
        margin-left: 38px;
    }

    .logo-text {
        color: #FF8787;
        margin-top: 1px;
        margin-bottom: 6px;
        margin-left: 23px;
    }

    .grid-home-body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }

    .tb-title {
        margin-top: 19px;
        margin-left: 39px;
        margin-bottom: 0;
        text-align: center;
    }

    .tb-p {
        margin-left: 58px;
        text-align: center;
    }

    .food-home {
        margin-top: 4px;
        height: auto;
        width: 80%;
    }

    .grid-menu-body {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        padding-bottom: 16px;

    }
    /* how to */
    .grid-ht {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 753px 410px 410px 595px;
        grid-row-gap: 22px;
        width: 99%;
        padding-bottom: 9px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .ht-menu1,
    .ht-menu2,
    .ht-menu3,
    .ht-menu4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        background-color: #FF8787;
        border-radius: 25px;
        width: 99%;
        margin-left: 4px;

    }

    .ht-menu1-1,
    .ht-menu2-1,
    .ht-menu3-1,
    .ht-menu4-1 {
        margin-bottom: 22px;
        width: auto;
        grid-gap: 7px;
    }

    .ingred-mn1,
    .meth-mn1,
    .ingred-mn2,
    .meth-mn2,
    .ingred-mn3,
    .meth-mn3,
    .ingred-mn4,
    .meth-mn4 {
        width: auto;
        margin-bottom: 22px;
        border: unset;
    }

    .img-menu1,
    .img-menu2,
    .img-menu3,
    .img-menu4 {
        width: auto;
        height: auto;
        justify-content: center;
        display: inline-grid;
        align-self: center;
        margin-top: 4rem;
    }

    .ingred-mn1 span,
    .meth-mn1 span,
    .ingred-mn2 span,
    .meth-mn2 span,
    .ingred-mn3 span,
    .meth-mn3 span,
    .ingred-mn4 span,
    .meth-mn4 span {
        display: block;

        text-align: center;
        margin-left: 0;
    }


    .ingred-mn1 li,
    .meth-mn1 li,
    .ingred-mn2 li,
    .meth-mn2 li,
    .ingred-mn3 li,
    .meth-mn3 li,
    .ingred-mn4 li,
    .meth-mn4 li {
        font-size: 20px;

    }

    .grid-me {
        grid-template-columns: 1fr;
        width: 65%;
        padding-bottom: 28px;
    }
}

@media only screen and (max-width: 718px) {
    .logo-sub {
        display: flex;
        margin: 26px auto;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: inline-block;
        margin: 1rem;
    }

    .nav-grid {
        display: none;
    }

    .nav-grid.open {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        width: auto;
    }

    .grid-menu-nav {
        grid-template-columns: 1fr;
        margin-top: 20px;

    }

    .grid-menu-nav li {
        margin-bottom: 24px;
        width: 100%;

    }

    .menu {
        display: grid;
    }

    .logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .grid-menu-nav li .li-1,
    .grid-menu-nav li .li-2 {
        font-size: 18px;
        padding: 12px 18px;
    }

    .grid-menu-nav li .li-1:hover,
    .grid-menu-nav li .li-2:hover {
        padding: 12px 18px;
    }


    .grid-menu-nav li .li-4 {
        font-size: 18px;
        padding: 12px 34px;
    }

    .grid-menu-nav li .li-4:hover {
        padding: 12px 34px;
    }


    .grid-menu-nav li .li-3 {
        font-size: 18px;
        padding: 12px 11px;
    }

    .grid-menu-nav li .li-3:hover {
        color: #FFF5EC;
        padding: 12px 11px;

    }

    .logo-img {
        margin-top: -14px;
        margin-left: 38px;
    }

    .logo-text {
        color: #FF8787;
        margin-top: 1px;
        margin-bottom: 6px;
        margin-left: 23px;
    }



    .grid-home-body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }


    .tb-title {
        margin-top: 19px;
        margin-left: 39px;
        margin-bottom: 0;
        text-align: center;
    }

    .tb-p {
        margin-left: 58px;
        text-align: center;
    }

    .food-home {
        margin-top: 4px;
        height: auto;
        width: 800%;
    }

    .grid-menu-body {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        padding-bottom: 16px;
    }

    /* how to */
    .grid-ht {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 753px 410px 410px 595px;
        grid-row-gap: 22px;
        width: 100%;
        padding-bottom: 9px;
        padding-left: 2px;
        padding-right: 2px;

    }

    .ht-menu1,
    .ht-menu2,
    .ht-menu3,
    .ht-menu4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        background-color: #FF8787;
        border-radius: 25px;
    }

    .ht-menu1-1,
    .ht-menu2-1,
    .ht-menu3-1,
    .ht-menu4-1 {
        margin-bottom: 22px;
        width: auto;
        grid-gap: 7px;
    }

    .ingred-mn1,
    .meth-mn1,
    .ingred-mn2,
    .meth-mn2,
    .ingred-mn3,
    .meth-mn3,
    .ingred-mn4,
    .meth-mn4 {
        width: auto;
        margin-bottom: 22px;
        border: unset;
    }

    .img-menu1,
    .img-menu2,
    .img-menu3,
    .img-menu4 {
        width: auto;
        height: auto;
        justify-content: center;
        display: inline-grid;
        align-self: center;
        margin-top: 4rem;
    }

    .ingred-mn1 span,
    .meth-mn1 span,
    .ingred-mn2 span,
    .meth-mn2 span,
    .ingred-mn3 span,
    .meth-mn3 span,
    .ingred-mn4 span,
    .meth-mn4 span {
        display: block;

        text-align: center;
        margin-left: 0;
    }


    .ingred-mn1 li,
    .meth-mn1 li,
    .ingred-mn2 li,
    .meth-mn2 li,
    .ingred-mn3 li,
    .meth-mn3 li,
    .ingred-mn4 li,
    .meth-mn4 li {
        font-size: 20px;

    }

    .grid-me {
        grid-template-columns: 1fr;
        width: 100%;
        padding-bottom: 28px;
    }
}

@media only screen and (max-width: 540px) {
    .logo-sub {
        display: flex;
        margin: 26px auto;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: inline-block;
        margin: 1rem;
    }

    .nav-grid {
        display: none;
    }

    .nav-grid.open {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        width: auto;
    }

    .grid-menu-nav {
        grid-template-columns: 1fr;
        margin-top: 20px;

    }

    .grid-menu-nav li {
        margin-bottom: 24px;
        width: 100%;

    }

    .menu {
        display: grid;
    }

    .logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .grid-menu-nav li .li-1,
    .grid-menu-nav li .li-2 {
        font-size: 18px;
        padding: 12px 18px;
    }

    .grid-menu-nav li .li-1:hover,
    .grid-menu-nav li .li-2:hover {
        padding: 12px 18px;
    }


    .grid-menu-nav li .li-4 {
        font-size: 18px;
        padding: 12px 34px;
    }

    .grid-menu-nav li .li-4:hover {
        padding: 12px 34px;
    }


    .grid-menu-nav li .li-3 {
        font-size: 18px;
        padding: 12px 11px;
    }

    .grid-menu-nav li .li-3:hover {
        color: #FFF5EC;
        padding: 12px 11px;

    }

    .logo-img {
        margin-top: -14px;
        margin-left: 38px;
    }

    .logo-text {
        color: #FF8787;
        margin-top: 1px;
        margin-bottom: 6px;
        margin-left: 23px;
    }



    .grid-home-body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }


    .tb-title {
        margin-top: 19px;
        margin-left: 39px;
        margin-bottom: 0;
        text-align: center;
    }

    .tb-p {
        margin-left: 58px;
        text-align: center;
    }

    .food-home {
        margin-top: 4px;
        height: auto;
        width: 800%;
    }

    .grid-menu-body {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        padding-bottom: 16px;

    }

    /* how to */
    .grid-ht {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 562px 704px 949px;
        grid-row-gap: 22px;
        width: 100%;
        padding-bottom: 9px;
        padding-left: 2px;
        padding-right: 2px;

    }

    .ht-menu1,
    .ht-menu2,
    .ht-menu3,
    .ht-menu4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        background-color: #FF8787;
        border-radius: 25px;
    }

    .ht-menu1-1,
    .ht-menu2-1,
    .ht-menu3-1,
    .ht-menu4-1 {
        margin-bottom: 22px;
        width: auto;
        grid-gap: 7px;
    }

    .ingred-mn1,
    .meth-mn1,
    .ingred-mn2,
    .meth-mn2,
    .ingred-mn3,
    .meth-mn3,
    .ingred-mn4,
    .meth-mn4 {
        width: auto;
        margin-bottom: 22px;
        border: unset;
    }

    .img-menu1,
    .img-menu2,
    .img-menu3,
    .img-menu4 {
        width: auto;
        height: auto;
        justify-content: center;
        display: inline-grid;
        align-self: center;
        margin-top: 4rem;
    }

    .ingred-mn1 span,
    .meth-mn1 span,
    .ingred-mn2 span,
    .meth-mn2 span,
    .ingred-mn3 span,
    .meth-mn3 span,
    .ingred-mn4 span,
    .meth-mn4 span {
        display: block;

        text-align: center;
        margin-left: 0;
    }


    .ingred-mn1 li,
    .meth-mn1 li,
    .ingred-mn2 li,
    .meth-mn2 li,
    .ingred-mn3 li,
    .meth-mn3 li,
    .ingred-mn4 li,
    .meth-mn4 li {
        font-size: 20px;

    }

    .grid-me {
        grid-template-columns: 1fr;
        width: 100%;
        padding-bottom: 28px;
    }
}

/* 480px down */
@media (max-width: 480px) {

    .logo-sub {
        display: flex;
        margin: 26px auto;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: inline-block;
        margin: 1rem;
    }

    .nav-grid {
        display: none;
    }


    .nav-grid.open {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        width: auto;
    }

    .grid-menu-nav {
        grid-template-columns: 1fr;
        margin-top: 20px;

    }

    .grid-menu-nav li {
        margin-bottom: 24px;
        width: 100%;

    }

    .menu {
        display: grid;
    }

    .logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .logo-img {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 0;
    }

    .logo-text {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 0;
    }

    .text-body p {
        font-size: 25px;
        margin-left: 16px;
        text-align: center;
    }

    .grid-home-body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }

    .text-body h2 {
        text-align: center;
        font-size: 76px;
        margin-top: 0;
        margin-left: -6px;
    }

    .food-home {
        width: 80%;
        height: auto;
        text-align: center;
        margin-top: 8px;
    }

    .bb-a {
        margin-left: 20px;
    }

    .container {
        background-size: cover;

    }

    /* menu */
    .grid-menu-body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 13px;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4 {
        width: 99%;
    }

    /* howto */

    .grid-ht {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row-gap: 22px;
        width: 99%;
        margin-left: 2px;
    }

    .grid-ht-sub {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row-gap: 22px;
        width: 99%;
        margin-left: 2px;
    }

    .ht-menu1,
    .ht-menu2,
    .ht-menu3,
    .ht-menu4 {
        display: block;
        width: 99%;
        margin-left: 2px;
    }

    .ht-menu1-1,
    .ht-menu2-1,
    .ht-menu3-1,
    .ht-menu4-1 {
        margin-bottom: 22px;
        width: auto;
        grid-gap: 7px;
    }

    .ingred-mn1,
    .meth-mn1,
    .ingred-mn2,
    .meth-mn2,
    .ingred-mn3,
    .meth-mn3,
    .ingred-mn4,
    .meth-mn4 {
        width: auto;
        margin-bottom: 22px;
        border: unset;
    }

    .img-menu1,
    .img-menu2,
    .img-menu3,
    .img-menu4 {
        width: auto;
        height: auto;
    }

    .ingred-mn1 span,
    .meth-mn1 span,
    .ingred-mn2 span,
    .meth-mn2 span,
    .ingred-mn3 span,
    .meth-mn3 span,
    .ingred-mn4 span,
    .meth-mn4 span {
        display: block;
        text-align: center;
        margin-left: 0;
    }

    .ingred-mn1 li,
    .meth-mn1 li,
    .ingred-mn2 li,
    .meth-mn2 li,
    .ingred-mn3 li,
    .meth-mn3 li,
    .ingred-mn4 li,
    .meth-mn4 li {
        font-size: 20px;
    }

    .grid-me {
        grid-template-columns: 1f;
        margin: 0 5px;
        width: 100%;
        padding-bottom: 28px;
    }
}

@media (max-width: 415px) {
    .nav-grid {
        grid-template-columns: 1fr;
    }

    .grid-menu-nav {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .grid-menu-nav li {
        margin-bottom: 24px;
        width: 100%;
    }

    .menu {
        display: grid;
    }

    .logo {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .logo-text {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .text-body p {
        font-size: 21px;
        margin-left: 17px;
        margin-right: 17px;
    }

    .grid-home-body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }

    .text-body p {
        font-size: 23px;
        margin-left: 24px;
    }

    .text-body h2 {
        text-align: center;
        font-size: 56px;
        margin-top: 0;
        margin-left: 10px;
    }

    .food-home {
        width: 80%;
        height: auto;
        text-align: center;
        margin-top: 8px;
    }

    .bb-a {
        margin-left: 20px;
    }

    .container {
        background-size: cover;
    }

    /* menu */
    .grid-menu-body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 13px;
        width: 100%;
        padding: 9px;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4 {
        width: 99%;
        grid-template-columns: 1fr;
    }

    /* howto */

    .grid-ht {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row-gap: 22px;
    }

    .ht-menu1,
    .ht-menu2,
    .ht-menu3,
    .ht-menu4 {
        display: block;
        width: 98%;
        margin-left: 2px;
    }

    .ht-menu1-1,
    .ht-menu2-1,
    .ht-menu3-1,
    .ht-menu4-1 {
        margin-bottom: 22px;
        width: auto;
        grid-gap: 7px;
    }

    .ingred-mn1,
    .meth-mn1,
    .ingred-mn2,
    .meth-mn2,
    .ingred-mn3,
    .meth-mn3,
    .ingred-mn4,
    .meth-mn4 {
        width: auto;
        margin-bottom: 22px;
        border: unset;
    }

    .img-menu1,
    .img-menu2,
    .img-menu3,
    .img-menu4 {
        width: auto;
        height: auto;
    }

    .ingred-mn1 span,
    .meth-mn1 span,
    .ingred-mn2 span,
    .meth-mn2 span,
    .ingred-mn3 span,
    .meth-mn3 span,
    .ingred-mn4 span,
    .meth-mn4 span {
        display: block;

        text-align: center;
        margin-left: 0;
    }


    .ingred-mn1 li,
    .meth-mn1 li,
    .ingred-mn2 li,
    .meth-mn2 li,
    .ingred-mn3 li,
    .meth-mn3 li,
    .ingred-mn4 li,
    .meth-mn4 li {
        font-size: 20px;

    }

    .grid-me {
        grid-template-columns: 1f 1fr;
        width: 100%;
        padding-bottom: 28px;
        margin: 0 5px
    }
}